.col-md-12
  h1.bg-img
    = image_tag(@cohort.logo_url, height: "60px")
    = @cohort.name.titleize
    '
    small = @cohort.campus
.col-md-8
  = render partial: 'assignments', locals: { weekly_assignments: assignments, weekly_assignments_count: assignments.count }
.col-md-4
  .row = render partial: 'attendance', locals: { cohort: cohort, current_student: current_user.student }
  .row = render partial: 'adjustments', locals: { current_student: current_user.student }
  .row = render partial: 'students', locals: { students: students }
