= render partial: 'nav', locals: {cohort: cohort}
h1 New Assignment
= simple_form_for(assignment, url: staff_cohort_assignments_path, method: :post) do |f|
  - if assignment.errors.any?
    #error_explanation
      .alert.alert-warning.flash[role="alert"]
        '  The assignment contains
        = pluralize(assignment.errors.count, "error")
        ' .
      ul
        - assignment.errors.full_messages.each do |msg|
          li = msg
  .form-inputs
    = f.input :title, required: true
    = f.input :info, hint: 'put markdown in me', required: true
    = f.input :due_date, as: :string, input_html: { class: 'datetimepicker', value: (Time.zone.tomorrow + 8.hours) }, required: true
    = react_component('AssignmentTags', tags: Tag.all, tag_ids: assignment.tag_ids)
  .form-actions
    = f.button :submit
