$border-gray: #acacac;
$light-border-gray: #ececec;
$background-gray: #f7f5f3;

$tiy-shield: #233139;
$tiy-brand: #39474e;
$tiy-base: #727d84;
$tiy-callout: #6fbbb7;
$tiy-light: #eef1f6;

$btn-border-radius-base: 0;

@import "materialize/components/color";
$primary-color: $tiy-brand !default;
@import "materialize";
@import "material_icons";
@import 'datetimepicker';
@import 'dashboard';
@import 'submissions';
@import 'students';

ul.list {
        padding-left: 0;

        ul {
                padding: 0;
        }

        li, li {
                background: #fafafa;
                padding: 10px;
                margin: 10px 0;
                border: 1px $light-border-gray solid;
                list-style: none;
                border-radius: 4px;
                overflow: hidden;

                &:hover {
                        box-shadow: 0px 0px 1px rgba(0,0,0,0.5);
                }
        }

        .student-view, .assignment-view {
                background: white;

                .row .col  {
                        height: 50px;
                        border-right: 1px $border-gray dashed;
                        padding: 17px;
                }
        }

        .entry .assignment-view .row .col:nth-child(even) {
                padding: 10px;
        }
}

.outlook {
        background: transparent;
        border: 2px $border-gray solid;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        display: inline;
        float: left;
        margin: 0 10px;
        position: relative;
        top: 0;
        left: 0;

}

textarea.form-control {
        padding-bottom: 20px;
}

$section-border: #c3c3c3;

p.muted ~ section {
        border: 1px solid $section-border;
        padding: 15px;
}

.list-group.spacer {
        margin-top: 10px;
}

article a, article a:hover, article a:focus {
        font-weight: bold;
}

table > tbody > tr > td.align-middle {
        vertical-align: middle;
}
table > tbody > tr > td h3 {
        margin: 0;
}

.assignment .grade span.label {
        margin-top: 10px;
        display: inline-block;
}
