// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

section {
  border: 1px solid #c3c3c3;
  border-radius: 3px;
  padding: 20px;
  width: 100%;
}

.filters {
  margin: 8px 0px;
}

p.muted {
  margin: 0;
  color: #ACACAC;
  font-variant:small-caps;
  text-transform:lowercase;
  position:relative;
  top: 2px;
}

.full-width {
  width: 100%;
  font-size: 14px;
  margin-bottom: 10px;
}

.errors {
  color: red;
}

.stats {
  margin: 10px 0;
  .tardies {
    padding-right: 4px;
  }
}


.autocomplete-form {
  display: inline-block;
  width: 150px;
}

.results {
  background:white;
  border: 1px solid lightgray;
  border-top: none;
  display:inline-block;
  position: relative;
  left: 425px;
}

a.autocomplete {
  &.id-1 p {
    background: lighten(#D1C05E, 10%);
  }
  text-decoration: none;
  p {
    padding: 5px 10px;
    margin: 0;
    border-bottom: 1px solid lightgray;
    &:hover {
      background: lighten(#D1C05E, 30%);
    }
  }
}
